The purpose of this assignment is to test your ability to conduct exploratory analysis and apply data cleaning techniques using Python.

 

Scenario:

You are a data analyst at an e-commerce company that sells a variety of products. Your company wants to better understand how various products perform across regions, in order to devise its sales strategy for next year.

You have been provided with data includes information about the product, the region where the product was sold, the price of the product, the number of units sold, and the date of the sale.

Your task is to clean the data as you see fit, and conduct exploratory analysis which will help the company build a sales strategy for the following year.

In addition to the analysis, be sure to answer the following questions:

1) What conclusions can you draw about sales performance of various products and regions?

2) What recommendations do you have for the business?

3) Describe your data cleaning approach. How and why did you decide on which cleaning techniques to use?

 

When you're finished, submit a Jupyter Notebook which should include the answers to the provided questions. Your notebook should show all Python code used to complete the assignment.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("/Users/jerry/Desktop/6110/6110 as1/sales_data.csv")

In [5]:
df

         Product    Region   Price  Units Sold   Sale Date
0            NaN  Region_1   72.87        10.0  2022-01-01
1     Product_40  Region_2   46.19        10.0  2022-01-02
2      Product_1  Region_5     NaN         4.0  2022-01-03
3      Product_6  Region_8  143.47         8.0  2022-01-04
4     Product_44  Region_4  122.54        10.0  2022-01-05
...          ...       ...     ...         ...         ...
1045  Product_42  Region_3   18.63         9.0  2023-07-10
1046   Product_4  Region_3  159.27        10.0  2024-07-14
1047  Product_43  Region_1    2.91        13.0  2023-08-17
1048  Product_27  Region_7    1.96         8.0  2024-03-10
1049   Product_3       NaN  302.68        11.0  2023-09-09

[1050 rows x 5 columns]